html, body {
  font-family:Arial, Helvetica, sans-serif;
  background: #fefafa;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: auto;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #3d3d3d;
}

.title {
  padding: 10px 43px 0;
}

.title > p {
  margin-top: 0;
}

.title > h1 {
  margin-bottom: 10px;
}

#page-mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #fff5ef;
  border-radius: 20px;
  padding: 2rem 3rem;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  flex-flow: row wrap;
  z-index: 10000;
}

form > div {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

#show_btn {
  width: fit-content;
  position: relative;
  margin: 5px 20px 10px 10px;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  border: 1px solid rgb(5, 154, 87);

}

#schedule_btn {
  display: flex;
  flex-direction: row;
  flex-flow:row-reverse;
  height: 2rem;
  margin: 25px;
}

#show_btn:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 60%;
  background: rgb(5, 154, 87);
  top: 50%;
  left: 50%;
}

#show_btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(5, 154, 87);
  height: 60%;
  width: 3px;
}

.labels {
  display: flex;
  flex-direction: column;
}

.line-break {
  width: 100%;
}

.labels > div {
  text-align: left;
  padding: 8px 20px 0 0;
  height: 28px;
  margin: 1px 0;

}

.fields > div {
  text-align: right;
  margin: 1px 0;
}

a {
  text-decoration: none;
}

.reset_btn {
  border: 1px solid rgb(75, 103, 140);
  border-radius: 5px;
  color: rgb(21, 99, 176);
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  margin: 3px 5px;
}

.week {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.week_schedule_container {
  width: 94%;
  height: 100vh;
  border-spacing: 0;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 10px rgba(55, 54, 54, 0.244),
  0 -1px 10px rgba(59, 59, 59, 0.144);
  backdrop-filter: blur(10px);
  margin: 2rem 1rem 1rem 1rem;
}

.day {
  height: 45px;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  padding: 10px 10px;
  font-size: clamp(4px, 5vh, 22px);
}

thead tr .day {
  font-size: clamp(8px, 3vh, 14px);
  font-weight: 600;
}

#submit {
  background-color: rgb(223, 220, 247);
  border-radius: 10px;
  border:1px solid rgb(122 96 146 / 84%);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: clamp(9px, 3vh, 14px);
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px auto;
  padding: .4rem 1rem;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#submit:hover {
  background-color: rgba(232, 232, 255, 0.807);
}

#minimumEatingWindow, #dayOfMeal {
  --radius: 10px;
  --baseFg: #9b88c9;
  --baseBg:  rgba(230, 228, 228, 0.3);
  --accentFg: #282828;
  --accentBg: bisque;
}

input[type=time] {
  border-radius: 10px;
  border: 0;
  padding: 3px 7px 4px 25px;
  background-color: inherit;
  border: 1px solid rgb(128, 128, 128);
  width: 100px;
  height: 28px;
}

label {
  padding-right: 20px;
}

#start-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  line-height: 1;
  outline: 0;
  padding: .54em 1.8rem .54em 1rem;
  background-color: inherit;
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 0 100%, 25px 30px, 25px 30px, 25px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  font-size: 12px;
  text-align: center;
  height: 35px;
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid rgb(128, 128, 128);
}

.hour{
  height: 30px;
  text-align: center;
  font-size: 1.5vh;
}

.corner {
  width: 75px;
  height: 50px;
  position: relative;
  font-size: clamp(9px, 3vw, 14px);
}

.arrow {
  float: right;
  border-color: transparent;
	border-style: solid;
	border-width: .5em .31em 0;
	width: 0;
	height: 0;
	position: relative;
  right: 20px;
  line-height: 0;
}

.next {
  position: absolute;
  top: 25px;
  left: 55%;
  border-width: .6em 0 .6em 1.2em;
  border-top-color: transparent;
  border-left-color: rgb(46, 97, 164);
}

.previous {
  position: absolute;
  top: 25px;
  right: 55%;
  border-width: .6em 1.2em .6em .0;
  border-top-color: transparent;
  border-right-color: rgb(46, 97, 164);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.data_cell {
  width: 120px;
  border-left: solid .5px rgba(70, 69, 69, 0.542);
  border-top: solid .5px rgba(70, 69, 69, 0.542);
}

#fastingHourStart{
  border: 0;
}

label {
  align-self: center;
}

#close-button{
  position: absolute;
  top: 16px;
  right: 17px;
  background-color: #c08585;
  font-size:larger;
}

.messages {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 11vh;
    width: 100%;
}

.alert {
  padding: 20px 50px 20px 30px;
  background-color: #ff382ad8;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 50%;
  position: relative;
  font-size: 16px;
}

.close_btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  top: 30%;
  right: 4%;
}

.fast {
  background-color: rgb(255, 196, 0);
}

.meal {
   background-color: rgba(65, 205, 109, 0.4)
}

.time_column {
  font-size: 12px;
  min-width: 80px;
}


@media screen and (max-width: 1400px) {
  .day {
    max-width: 70px;
    font-size: 15px;
  }

  .week_schedule_container {
    margin-top: 2rem;
  }

}


@media screen and (max-width: 1200px) {
  .day {
    max-width: 70px;
    font-size: 15px;
  }

  input {
  padding: 3px 5px 4px 15px;
  }

  nav {
    padding-bottom: 0;
  }

  .hour {
    font-size: 14px;
  }

  .corner {
    font-size: 14px;
    max-width: 70px;
  }

}

@media screen and (max-width: 850px) {
  .hour {
    font-size: 10px;
  }

  .corner {
    max-width: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .day {
      max-width: 50px;
  }

  .data_cell {
    width: 40px;
  }

  .hour {
    font-size: 11px;
  }

  .corner {
    width: 50px;
  }
}
