{% extends 'mealSchedule.html' %}

{% block errorModal %}
<div id="errorModal" class="modal">


    <div class="modal-content">

        <button id="close-button" type="button">
          <span>&times;</span>
        </button>

      <div>{{ message }}</div>
      <p>Please enter valid data</p>
    </div>

</div>
{% endblock%}
{% block javascript%}
<script>
       document.querySelector('.modal').style.display = 'block';
       const el = document.getElementById('close-button');
       el.onclick = function () {
        location.href = "/"
       };
</script>
{% endblock %}
