<!doctype html>
<html>

<head>
    <title>Intermittent Fasting Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mealSchedule.css') }}">


</head>

<body>

    <div class="container">

        <table class="week_schedule_container">
            <thead class="table_head"></thead>
            <tbody class="table_body"></tbody>
        </table>

        <div class="form">
          <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form_field">
              {{form.fastingHoursStart.label}}
              {{form.fastingHoursStart() }}
            </div>

            <div class="form_field">

              {{form.fastingHoursEnd.label}}
              {{form.fastingHoursEnd() }}
            </div>

            <div class="form_field">
              {{form.minimumEatingWindow.label}}
              {{form.minimumEatingWindow() }}
            </div>

            <div class="form_field">
              <span class="label">
                {{form.dayOfMeal.label}}
              </span>
              <span id="day_input">
                {{ form.dayOfMeal() }}
              </span>
            </div>
            <div class="form_field">
                <span class="label">
                  {{form.timeOfMeal.label}}
                </span>
                {{ form.timeOfMeal() }}

            </div>

              <div class="form_field">
                {{ form.submit() }}
              </div>

          </form>
          <form>
            <div>
              <a href="{{ url_for('main.main') }}"><button id="reset" name="reset_btn" value="reset">Reset</button></a>
            </div>
          </form>


        </div>



    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    {% block errorModal %}
    {% endblock%}
</body>
{% block javascript %}

{% endblock%}
{% block script%}
{% if fastTimes %}

<script type="text/javascript" href="{{ url_for('static', filename='main.js')}}"></script>
<script type="text/javascript">


  fastWindowColor('{{ fastTimes|tojson }}', '{{ meals|tojson }}');
  mealTimeColor('{{ meals|tojson }}', '{{ fastTimes|tojson }}')



</script>
{% endif %}
{% endblock %}
</html>
