<!doctype html>
<html>

<head>
    <title>Intermittent Fasting Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mealSchedule.css') }}">

    <meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body>


  <div class="container">


    <div class="nav_container sticky">

      <nav id="navbar" class = "sticky">

        <div class="form">
          <form action="" method="post">
           {{ form.hidden_tag() }}

            <div>
            {{form.fastingHoursStart.label}}
            {{form.fastingHoursStart() }}
            </div>
            <div>

            {{form.fastingHoursEnd.label}}
            {{form.fastingHoursEnd() }}
            </div>
            <div>
            {{form.minimumEatingWindow.label}}
            {{form.minimumEatingWindow() }}
            </div>
            <div>

              {{form.dayOfMeal.label}}

              {{ form.dayOfMeal() }}
            </div>
            <div>

              {{form.timeOfMeal.label}}

              {{ form.timeOfMeal() }}
            </div>
            <div>
              {{ form.submit() }}
            </div>
            <div>

             <a href="/clear" type="reset" id='reset' name="reset_btn" value="Refresh">Refresh</a>
            </div>
          </form>
        </div>
        <button class="hamburger active">
          <div class="bar"></div>

        </button>
      </nav>

    </div>
    <div class="week">

      <table class="week_schedule_container">
            <thead class="table_head"></thead>
            <tbody class="table_body"></tbody>
      </table>

    </div>


  </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    {% block errorModal %}
    {% endblock%}
</body>
{% block javascript %}

{% endblock%}
{% block script%}
{% if fastTimes %}

<script type="text/javascript" href="{{ url_for('static', filename='main.js')}}"></script>
<script type="text/javascript">


  fastWindowColor('{{ fastTimes|tojson }}', '{{ meals|tojson }}');
  mealTimeColor('{{ meals|tojson }}', '{{ fastTimes|tojson }}')



</script>
{% endif %}
{% endblock %}
</html>
